body {
	background: rgb(136, 176, 93);
}

.bubble {
	min-width: 200px;
	background: rgb(38, 38, 38);
	display: block;
	margin: 0 auto;
	border-radius: 20px;
	margin-top: 50px;
	font-size: 200px;
	text-align: center;
}

.blurred {
	background: gray;
	filter: blur(20px);
	position: relative;
	top: -315px;
 	transform: scale(1.05); 
	z-index: -1;
}