body {
    
    margin: 10px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-y: scroll;
}


#global {
    margin-left: auto;
    margin-right: auto;
  }


#Menu {
    position:absolute;  
    font-size: 20px;
    color: rgb(204, 204, 204);
    left: 50%;
    top: 7%;;
    transform: translate(-50%,-50%);  /*décalage de 50% de sa propre taille*/    
    filter: blur(em);
}

#backBigMenu{
    position: absolute;
    z-index: -1;
    margin-top:111px;
    margin-left:10px;
    width: 1470px;
    height: 34px;
    background-color: rgb(125, 177, 80);
}

#compte{
    position: absolute;
    z-index: -1;
    margin-top:150px;
    margin-left:350px;
    margin-right:400px;
    width: 800px;
    height: 225px;
    border: 1px solid rgb(125, 177, 80);
    background-color: rgb(38, 38, 38);
    text-align: center;
    color: white;
    font-size: 25px;
}

#imgAquascaping
{
    position: absolute; 
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    top:-3px;left: 0px;
    z-index: -100;
    background-size: cover;
}

#imgBackGround{
    position: absolute;
    z-index: -2;
    margin-top:910px;
    margin-left:-10px;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0) ;
}