body {
  padding: 0px;
  margin: 0px; /*avant il y avait 10 de margin*/
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow-y: scroll;
  justify-self: center;
}

#global {
  margin-left: auto;
  margin-right: auto;
}

#Menu {
  position: absolute;
  color: rgb(204, 204, 204);
  left: 50%;
  top: 20px;
  transform: translate(-50%, -50%); /*décalage de 50% de sa propre taille*/
  filter: blur(em);
}

#sommaire {
  padding-top: 300px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  position: absolute;
  left: 50%;
  /*top: 100%;*/
  transform: translate(-50%, -50%); /*décalage de 50% de sa propre taille*/
}

#info {
  padding-top: 950px;
  font-size: 8px;
  width: 650px;
  height: 20px;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

#tabmenu {
  position: absolute;
  z-index: 3;
  top: 170px;
  left: 50%;
  transform: translate(-50%, -50%);
}

#menu-demo2,
#menu-demo2 ul {
  padding: 0;
  list-style: none;
  text-align: center; /*position sur l'enseble des cases 2nd*/
}
#menu-demo2 li {
  display: inline-block;
  position: relative;
  border-radius: 8px 8px 0 0; /*bordure de la premiere casse li*/
}
#menu-demo2 ul li {
  display: inherit; /*permet d'hériter des caractéristique précedante sur les cases 2nd*/
  border-radius: 0;
}
#menu-demo2 ul li:hover {
  border-radius: 0; /*permet de retirer les rebord sur le menu déroulantquand la souris passe */
}
#menu-demo2 ul li:last-child {
  border-radius: 0 0 8px 8px; /* permet de mettre un rebord sur le dernier des menu du déroulant*/
}

#menu-demo2 ul {
  position: absolute;
  max-height: 0em; /*l'element ne sera pas visible*/
  left: 0;
  right: 0;
  overflow: hidden; /*viens cacher les element en dessous de ma taille qui est a un moment a 0 puis aller le passage de la souris a 15*/
  -moz-transition: 0.8s all 0.3s;
  -webkit-transition: 0.8s all 0.3s;
  transition: 0.8s all 0.3s;
}
#menu-demo2 li:hover ul {
  /*on place une action sur la case menu1*/
  max-height: 20em; /*vient modifier la taille max du deroulant de sous menu avec la transition plus on a un max grand plus la transition sera rapide*/
}
/* background des liens sur menus */
#menu-demo2 li:first-child {
  background-color: rgb(125, 177, 80);
  background-image: -webkit-linear-gradient(
    top,
    rgb(125, 177, 80) 0%,
    #2a2333 100%
  );
  background-image: linear-gradient(
    to bottom right,
    rgb(125, 177, 80) 45%,
    #3c3a3f 100%
  );
}
#menu-demo2 li:nth-child(2) {
  background-color: rgb(125, 177, 80);
  background-image: -webkit-linear-gradient(
    top,
    rgb(125, 177, 80) 0%,
    #2a2333 100%
  );
  background-image: linear-gradient(
    to bottom right,
    rgb(125, 177, 80) 45%,
    #3c3a3f 100%
  );
}
#menu-demo2 li:nth-child(3) {
  background-color: rgb(125, 177, 80);
  background-image: -webkit-linear-gradient(
    top,
    rgb(125, 177, 80) 0%,
    #2a2333 100%
  );
  background-image: linear-gradient(
    to bottom right,
    rgb(125, 177, 80) 45%,
    #3c3a3f 100%
  );
}
#menu-demo2 li:last-child {
  background-color: rgb(125, 177, 80);
  background-image: -webkit-linear-gradient(
    top,
    rgb(125, 177, 80) 0%,
    #2a2333 100%
  );
  background-image: linear-gradient(
    to bottom right,
    rgb(125, 177, 80) 45%,
    #3c3a3f 100%
  );
}
/* background des liens sous menus */
#menu-demo2 li:first-child li {
  /*On agit sur le*/
  background-image: -webkit-linear-gradient(
    top,
    rgb(125, 177, 80) 0%,
    #2a2333 100%
  );
  background-image: linear-gradient(
    to left,
    rgb(125, 177, 80) 0%,
    #3c3a3f 100%
  );
}
#menu-demo2 li:nth-child(2) li {
  background-image: -webkit-linear-gradient(
    top,
    rgb(125, 177, 80) 0%,
    #2a2333 100%
  );
  background-image: linear-gradient(
    to left,
    rgb(125, 177, 80) 0%,
    #3c3a3f 100%
  );
}
#menu-demo2 li:nth-child(3) li {
  background-image: -webkit-linear-gradient(
    top,
    rgb(125, 177, 80) 0%,
    #2a2333 100%
  );
  background-image: linear-gradient(
    to left,
    rgb(125, 177, 80) a 0%,
    #3c3a3f 100%
  );
}
#menu-demo2 li:last-child li {
  background-image: -webkit-linear-gradient(
    top,
    rgb(125, 177, 80) 0%,
    #2a2333 100%
  );
  background-image: linear-gradient(
    to left,
    rgb(125, 177, 80) 0%,
    #3c3a3f 100%
  );
}
/* background des liens menus et sous menus au survol */
#menu-demo2 li:first-child:hover,
#menu-demo2 li:first-child li:hover {
  /*Viens changer des couleurs au passage de la souris*/
  background-image: -webkit-linear-gradient(
    top,
    rgb(125, 177, 80) 0%,
    #2a2333 100%
  );
  background-image: linear-gradient(
    to left,
    rgb(125, 177, 80) 0%,
    #3c3a3f 100%
  );
}
#menu-demo2 li:nth-child(2):hover,
#menu-demo2 li:nth-child(2) li:hover {
  background-image: -webkit-linear-gradient(
    top,
    rgb(125, 177, 80) 0%,
    #2a2333 100%
  );
  background-image: linear-gradient(
    to left,
    rgb(125, 177, 80) 0%,
    #3c3a3f 100%
  );
}
#menu-demo2 li:nth-child(3):hover,
#menu-demo2 li:nth-child(3) li:hover {
  background-image: -webkit-linear-gradient(
    top,
    rgb(125, 177, 80) 0%,
    #2a2333 100%
  );
  background-image: linear-gradient(
    to left,
    rgb(125, 177, 80) 0%,
    #3c3a3f 100%
  );
}
#menu-demo2 li:last-child:hover,
#menu-demo2 li:last-child li:hover {
  background-image: -webkit-linear-gradient(
    top,
    rgb(125, 177, 80) 0%,
    #2a2333 100%
  );
  background-image: linear-gradient(
    to left,
    rgb(125, 177, 80) 0%,
    #3c3a3f 100%
  );
}
/* les a href */
#menu-demo2 a {
  /*le menu de base comment il est*/
  text-decoration: none;
  display: block;
  padding: 8px 20px;
  color: rgb(253, 253, 253);
  font-family: arial;
}
#menu-demo2 ul a {
  /*on agit sur le paggind des case seconde la largeur ne sert a rien*/
  padding: 8px 0;
}
#menu-demo2 li:hover li a {
  /*quand souris passe sur menu les sous cases prenent la forme suivante*/
  color: rgb(255, 255, 255);
  text-transform: inherit;
}
#menu-demo2 li:hover a,
#menu-demo2 li li:hover a {
  color: rgb(
    247,
    241,
    241
  ); /*quand les cases et sous cases sont survolé elle prennent un couleur grise*/
}

#secondMenu {
  position: absolute;
  margin-top: 200px;
  margin-left: 1%;
  width: 20%;
  height: 450px;
  max-width: 300px;
  border: 1px solid rgb(125, 177, 80);
  background-color: rgb(38, 38, 38);
  border-radius: 7px;
}

#backBigMenu {
  position: absolute;
  margin-top: 0px;
  margin-left: 10px;
  width: 1470px;
  height: 34px;
  background-color: rgb(125, 177, 80);
}

#product {
  position: absolute;
  margin-top: 200px;
  margin-left: 22%;
  z-index: 1;
  border-radius: 7px;

  width: 75%;
  height: 90%;
  max-width: 1300px;

  border: 1px solid rgb(125, 177, 80);
  background-color: rgb(38, 38, 38);
}

#client {
  margin-top: 30px;
  margin-left: 80%;
}

#imgAquascaping {
  position: absolute;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  top: -3px;
  left: 0px;
  z-index: -100;
  background-size: cover;
}

#imgcacheBackGround {
  position: absolute;
  z-index: -10;
  margin-left: -10px;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
}

#titleSndMenu {
  list-style-type: none;
  color: rgb(125, 177, 80);
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: -10px;
}

#UnderTitleSndMenu {
  font-size: 12px;
  list-style-type: none;
  color: rgb(125, 177, 80);
  text-decoration: none;
  margin-left: -30px;
  margin-bottom: -2px;
}
#promo {
  padding-left: 270px;
  margin-top: 170px;
  width: 100%;
}
#imgPromo {
  width: 1000px;
  border: 1px solid rgb(125, 177, 80);
}
.section {
  margin-top: 0px;
  padding: 0;
  height: 120vh; /*jouer la dessus c ça qui clc*/
  justify-content: center;
  align-items: center;
}
.slider {
  width: 800px;
  height: 500px;

  overflow: hidden;
}
.slide {
  width: 500%;
  height: 500px;
  display: flex;
}
.slide input {
  display: none;
}
.st {
  width: 20%;
  transition: 1s;
}
.st img {
  width: 800px;
}
.nav-m {
  position: absolute;
  width: 800px;
  margin-top: -250px;
  display: flex;
  justify-content: center;
}
.m-btn {
  border: 2px solid rgb(125, 177, 80);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.m-btn:not(:last-child) {
  margin-right: 30px;
}
.m-btn:hover {
  background-color: rgb(125, 177, 80);
}
#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}
#radio4:checked ~ .first {
  margin-left: -60%;
}

.nav-auto {
  position: absolute;
  width: 800px;
  margin-top: 250px;
  display: flex;
  justify-content: center; /*centrer la nav auto avec la nav choisi*/
}

.nav-auto div {
  border: 2px solid rgb(125, 177, 80);
  padding: 5px;
  border-radius: 10px;
  transition: 0.5s;
}

.nav-auto div:not(:last-child) {
  margin-right: 30px;
  justify-content: center;
}

#radio1:checked ~ .nav-auto .a-b1 {
  background-color: rgb(125, 177, 80);
}
#radio2:checked ~ .nav-auto .a-b2 {
  background-color: rgb(125, 177, 80);
}
#radio3:checked ~ .nav-auto .a-b3 {
  background-color: rgb(125, 177, 80);
}
#radio4:checked ~ .nav-auto .a-b4 {
  background-color: rgb(125, 177, 80);
}

#connect {
  background-color: rgb(125, 177, 80);
  color: white;
  border: 0;
  font-size: 1em;
}

#connect:hover {
  box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24),
    0 17px 50px 0 rgba(255, 255, 255, 0.19);
}

/* Fixez le bouton sur le côté gauche de la page the button on the left side of the page */
.open-btn {
  display: flex;
  justify-content: flex-start;
}

/* Stylez et fixez le bouton sur la page */
.open-button {
  background-color: rgb(125, 177, 80);
  color: white;
  padding: 12px 20px;
  margin-left: 2px;
  min-width: 120px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
}
/* Positionnez la forme Popup */

.login-popup {
  position: relative;
  text-align: center;
  width: 400%;
}

/* Masquez la forme Popup */
.form-popup {
  display: none;
  position: fixed;
  left: 47%;
  top: 25%;
  transform: translate(-45%, 5%);
  z-index: 9;
}

/* Stylez le bouton de connexion */
.form-container .btn {
  background-color: #8ebf42;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Stylez le bouton pour annuler */
.form-container .cancel {
  background-color: #cc0000;
}

/* Planez les effets pour le bouton rouge */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

#showcase {
  background-image: url("aquascapingBackGround.jpg");
  height: 120vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#responsive {
  margin: 10px auto;
  margin-top: 100px;
  position: absolute;
  /*border: 2px solid red;*/
  width: 80%;
  max-width: 1200px;
  min-width: 800px;
}

.bigTittle {
  font-size: max(4vw, 60px);
}

#quantity_wanted {
  width: 63px;
  height: 27px;
  padding: 0 5px;
  align-items: center;

  float: left;
  border: 1px solid #6db33f !important;
  line-height: 10px;
}

#quantitySelect {
  padding-left: 0px;
}

#imgProduct {
  margin-left: -35%;
  height: 300px;
  width: auto;
  border-radius: 7px;
}

#underProduct {
  display: flex;
  height: 600px;
  width: 90%;
  padding: 10px;
}

#infoPriceProduct {
  position: relative;
  border: 1px solid #6db33f;
  background-color: rgb(35, 35, 35);
  /*margin-left: 50%;
  margin-top: -258px;*/
  width: 25%;
  min-width: 150px;
  max-width: 300px;
  height: 250px;
  border-radius: 7px;
}
#price {
  font-size: 40px;
  color: #6db33f;
}

h4 {
  font-size: 15px;
  font-style: none;
}

/*site dynamique, fichier stock soit organiser
  fichier csv
  site dynamique trouver les documentation fait en sorte de ne pas avoir a réécrire
  */

.styled {
  border: 0;
  line-height: 2.5;
  padding: 0px 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: #ff0000;
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.styled:hover {
  background-color: #d73900;
}

.styled:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
